.tour-container {
  margin-bottom: 10vh;
}

.tour-div {
  background-image: url("../../../public/assets/tour-img/lobby.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  /* height: "400px"; */
}

.img-container img {
  width: 100%;
  max-height: 400px;
}

Rect,
Polygon {
  cursor: pointer;
}