.img-container {
  /* position: relative; */
  /* width: 50%; */
  /* left: 25%; */
  /* height: "400px"; */
}

.tour-div {
  background-image: url("../../../public/assets/tour-img/lobby.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  /* height: "400px"; */
}

.img-container img {
  width: 100%;
  max-height: 400px;
}

Rect,
Polygon {
  cursor: pointer;
}
