.btn-toggle {
  margin: 0px 2px;
  font-size: clamp(14px, 3vw, 16px) !important;
}

.component-container {
  /* margin: 20px 50px; */
}
.img-container {
  position: relative;
}

.bev-map-div {
  background-image: url("../../../public/assets/Lobby.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* .img-container img {
  max-height: 100%;
  width: auto;
} */

.map-background {
  max-height: 400px;
  top: 0;
  left: 0;
}

.description-container {
  margin: 1vh;
}

#location-name {
  font-size: clamp(30px, 4vw, 40px);
  font-weight: 700;
  margin: 20px 0px;
  color: #31473b;
}

#location-description {
  font-size: clamp(14px, 4vw, 15px);
  font-weight: 400;
  color: #3c5447;
}

#map-name {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
}

.img-container-col {
  padding-left: 0px;
  padding-right: 0px;
  height: clamp(300px, 40vh, 400px);
}
