.btn-toggle {
  margin: 0px 2px;
}

.img-container {
  position: relative;
}

.bev-map-div {
  background-image: url("../../../public/assets/Lobby.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* .img-container img {
  max-height: 100%;
  width: auto;
} */

.map-background {
  max-height: 400px;
  top: 0;
  left: 0;
}

.map-overlay {
  max-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
